/* CSS theo thẻ */
p {
    /* In đậm */
    font-weight: bold;
}

/* CSS theo class */
.jsb40 {
    /* màu chữ */
    color: blue;
}

/* CSS theo id */
#minhkhai {
    color: red
}

/* CSS cho phần tử con trực tiếp */
.d1 > p {
    background-color: yellow;
}

/* CSS cho hậu duệ */
.d1 p {
    font-size: 20px;
}
