body {
    margin: 0;
    /* font-family: "Bangers", system-ui; */
    font-family: "Roboto", sans-serif;
}

form input {
    margin-top: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

.gender {
    width: 50px;
}

#cb-agree {
    width: fit-content;
}