.container-items {
    display: flex;
    /* Sắp xếp theo chiều ngang */
    flex-direction: row;
    /* Xuống dòng */
    flex-wrap: wrap;
    /* Sắp xếp theo chiều ngang */
    justify-content: center;
    /* khoảng cách */
    gap: 30px;
}

/* =========== Footer =========== */
footer {
    background-color: #000;
    color: #fff;
    padding: 60px 0 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

footer h5 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

footer a {
    color: #ccc;
    text-decoration: none;
    transition: all 0.3s;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 15px;
        display: inline-block;
    }
}